.container{
  display: grid;
  width: 500px;
  height: 600px;
  margin:30px auto;
  
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  row-gap: 10px;
  column-gap: 10px;
}
.item{
  background-color: black;
  color: aliceblue;
}